
.dataBox {
	width: 20%;
	float:left;
	height: auto;	
}

.dataTitle {
	text-align: left;
	line-height: inherit;
	width: 87.5%;
	float: left;
	height: 30%;
	padding-left:.5em;
	font-size: 1.2em;
	border-style: none none solid none;
	border-width: .1em;
	border-color:#000000;
}

